html, body
  margin 0
  padding 0
  height 100%
  font-family 'NanumBarunGothic', sans-serif
  -webkit-user-select none
  -webkit-touch-callout none

.list
  height 100%
  overflow scroll
  overflow-x hidden
  transform-origin center
  transition transform .24s
  &.open
    transform scale(.98)

.detail
  width 100%
  height 100%
  background #fff
  position fixed
  top 0
  left 0
  transform translateX(100%)
  transition transform .24s ease-in-out
  &.open
    transform translateX(0)
    box-shadow 0 0 0 3px #f2f2f2

ul
  margin 0 14px
  padding 0

ul li
  padding 0
  border-bottom 1px solid #e9e9e9
  font-size 14px
  line-height 1.35
  list-style none
  position relative
  &:last-child
    border-bottom 0

ul li::after
  content ''
  margin-top -6px
  width 7px
  height 12px
  background url(/images/arrow.png)
  background-size 100%
  position absolute
  top 50%
  right 5px

ul li a
  padding 15px 24px
  width 100%
  height 100%
  color #36474f
  text-decoration none
  -webkit-tap-highlight-color transparent
  box-sizing border-box
  display block
  cursor pointer
  position relative
  &::before
    content 'Q.'
    font-weight bold
    position absolute
    top @padding[0]
    left 2px

ul li a span:first-child
  margin-right 4px
  color #989da0
  &::before
    content '['
  &::after
    content ']'

.detail
  margin 0
  padding 0
  font-size 14px
  line-height 1.5
  color #36474f
  overflow scroll
  overflow-x hidden

article
  padding 0 14px
  div
    padding 17px 0
    padding-left 20px
    line-height 1.35
    position relative

    &.question
      border-bottom 1px solid #e9e9e9
      font-weight bold
      &::before
        content 'Q.'
        font-weight bold
        position absolute
        top @padding[0]
        left 2px

    &.question span:first-child
      margin-right 4px
      color #989da0
      &::before
        content '['
      &::after
        content ']'

    &.answer::before
      content 'A.'
      color #808697
      position absolute
      top @padding[0]
      left 2px

  & + .more
    margin @padding
    margin-top 10px
    padding 20px 14px
    background #f9f9f9
    position relative
    a
      width 114px
      height 36px
      line-height @height
      margin-top (- @height / 2)
      background #4fe0dc
      color #fff
      text-align center
      text-decoration none
      display block
      position absolute
      top 50%
      right @padding[1]
