html, body
  margin 0
  padding 0
  height 100%
  font-family 'NanumBarunGothic', sans-serif
  -webkit-user-select none
  -webkit-touch-callout none

.list
  height 100%
  overflow scroll
  overflow-x hidden
  transform-origin center
  transition transform .24s
  &.open
    transform scale(.98)

.detail
  width 100%
  height 100%
  background #fff
  position fixed
  top 0
  left 0
  transform translateX(100%)
  transition transform .24s ease-in-out
  &.open
    transform translateX(0)
    box-shadow 0 0 0 3px #f2f2f2

ul
  margin 0 14px
  padding 0

ul li
  padding 0
  border-bottom 1px solid #e9e9e9
  font-size 14px
  list-style none
  position relative
  &:last-child
    border-bottom 0

ul li::after
  content ''
  margin-top -6px
  width 7px
  height 12px
  background url(/images/arrow.png)
  background-size 100%
  position absolute
  top 50%
  right 5px

ul li a
  padding 18px 0
  width 100%
  height 100%
  color #565A5C
  text-decoration none
  -webkit-tap-highlight-color transparent
  box-sizing border-box
  display block
  cursor pointer

ul li a span
  margin-right 30px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  display block

ul li a span:first-child
  font-weight bold

ul li a span:last-child
  color #808697

.indicator
  padding 20px 0
  font-size 13px
  text-align center
  color #565A5C

.detail
  margin 0
  padding 0
  font-size 14px
  line-height 1
  text-align center
  color #323232
  overflow scroll
  overflow-x hidden

  h1, h2, h3, h4
    margin-bottom .5em
    font-size 1em
  p
    margin 0
    padding 0 1em
    line-height 1.6
  a
    margin 0
    color #565A5C
    text-decoration underline
    display block
  img
    margin 0
    border 0
    width 100%
    height auto
  hr
    margin 10px
    height 1px
    border 0
    box-shadow 0 1px 0 #e9e9e9