html, body
  margin 0
  padding 0
  font-family 'NanumBarunGothic', sans-serif
  font-size 14px
  -webkit-user-select none
  -webkit-touch-callout none

body
  background-image url(/images/register/cover.jpg)
  background-repeat repeat-x
  background-position top center
  background-size auto 300px
  line-height 1.4
  color #323232

.notify
  width 100%
  height 56px
  line-height @height
  box-shadow 0 0 10px rgba(black, .25)
  color #fff
  font-size 15px
  font-weight bold
  text-align center
  white-space nowrap
  position fixed
  top 0
  left 0
  z-index 1
  display none
  transition background .25s
  &.wait
    background #FFAE0D
  &.success
    background #52C5E2
  &.saved
    background #43C283
  &.error, &.warn
    background #FF505B

.wrap
  margin 200px auto 0
  padding 20px
  margin-bottom 80px
  max-width 640px
  background #fdfdfe
  border-radius 12px
  box-shadow 0 3px 5px #e4e4e5
  box-sizing border-box
  -webkit-box-sizing border-box

@media (max-width: 600px)
  body
    background-size contain
    background-repeat no-repeat

  .wrap
    margin-top 35%
    margin-bottom 0
    border-radius 0
    box-shadow none


h1
  margin 1.25em 0
  font-size 24px
  color #353535
  text-align center

p
  font-size 13px
  line-height 1.6
  white-space pre-line

.images
  margin 2rem 0
  font-size 0
  white-space nowrap
  overflow hidden

.images img
  width 100%
  display inline-block

label, input[type=text]
  display block

form > label
  margin-bottom 30px

span.label
  margin 30px 0 10px
  font-size 18px
  color #2c3133
  display block

input[type=text]
  border 0
  outline 0
  background-color transparent
  border-radius 0
  appearance none
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  -o-appearance none
  margin 10px 0
  padding 4px 2px
  width 80%
  font-size 16px
  color #565a5c
  border-bottom 1px solid #c2c2c3

.center
  text-align center

button
  padding 0
  border 0
  outline 0
  appearance none
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  -o-appearance none
  margin 40px 0 20px
  width 140px
  height 45px
  background #4a90e2
  color #fff
  font-size 15px
  border-radius 4px
  cursor pointer
