doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    title 자주 묻는 질문
    link(rel='stylesheet', type='text/css', href='/css/faq.css', inline)
  body
    section.list
    section.detail
      article
      div.more
        | 원하시는 답변이 아니신가요?
        br
        | 1:1 문의를 해주세요.
        a(href='heybeauty://question/add') 1:1 문의하기
    script(src='/js/faq.js', inline)