doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    title 공지사항
    link(rel='stylesheet', type='text/css', href='/css/notice.css', inline)
  body
    section.list: div.indicator 공지사항 가져오는 중 ..
    section.detail
    script(src='/js/notice.js', inline)