doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    title 헤이뷰티 가입 상담 신청
    link(rel='stylesheet', type='text/css', href='/css/register.css', inline)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69118881-8', 'auto');
      ga('send', 'pageview');

  body
    div.notify
    div.wrap
      h1 모바일 뷰티 예약 서비스, 헤이뷰티 가입 상담 신청서
      p
        | ALL ABOUT BEAUTY
        br
        br
        | 안녕하세요? 모바일 뷰티 예약 서비스 헤이뷰티입니다.
        br
        br
        | 매장은 바쁜 시간만 고객이 몰리고 빈 시간은 항상 비어 있습니다.
        | 고객은 언제 매장에서 관리를 받을 수 있는지 몰라 전화와 방문 밀당을 계속 해야합니다.
        br
        br
        | 헤이뷰티는 이런 고객과 매장 모두가 불편한 기존 예약 방식(전화, 수첩)의 문제를 해결하고자 만들어졌습니다.
        | 매장이 빈 시간을 보여주면 고객은 관리 받고 싶은 시간에 예약합니다. 바로 헤이뷰티에서 말이죠.
        br
        br
        | 헤어, 네일아트, 속눈썹 연장, 왁싱, 메이크업, 스킨&nbsp;바디 케어 매장 모두 헤이뷰티에 입점하여
        | 고객의 예약을 무료로 받을 수 있습니다. 수도권 400개 매장이 헤이뷰티와 함께하고 있습니다.
        | (2017년 상반기부터 수도권 이외 지역 서비스 예정)
        br
        br
        | 연락처를 남겨주시면 담당자가 연락드리며, 원하시면 방문 상담도 가능합니다. 부담없이 신청해주세요 :)
        | 헤이뷰티 서비스 수수료는 무료입니다.

      div.images
        img(src='/img/register/img1.jpg', inline)
        img(src='/img/register/img2.jpg', inline)
        img(src='/img/register/img3.jpg', inline)
        img(src='/img/register/img4.jpg', inline)

      form#join
        label
          span.label 1) 업체명
          input(type='text', name='shop_name')

        label
          span.label 2) 주소
          input(type='text', name='address')

        span.label 3) 업종
        div
          label
            input(type='radio', name='category', value='nail')
            span 네일아트
          label
            input(type='radio', name='category', value='eyelashes')
            span 속눈썹 연장
          label
            input(type='radio', name='category', value='hair')
            span 헤어
          label
            input(type='radio', name='category', value='skin_body')
            span 스킨&nbsp;바디
          label
            input(type='radio', name='category', value='waxing')
            span 왁싱
          label
            input(type='radio', name='category', value='massage')
            span 마사지(타이 마사지, 스포츠 마사지, 중국 마사지 등)
          label
            input(type='radio', name='category', value='makeup')
            span 메이크업
          label
            input(type='radio', name='category', value='etc')
            span etc

        label
          span.label 4) 신청자 이름/직함 (예: 김헤이뷰티/원장)
          input(type='text', name='owner_name')

        label
          span.label 5) 연락가능한 전화번호 (예: 010-1234-1234)
          input(type='text', name='phone_num')


        span.label 6) 통화가능 요일
        div
          label
            input(type='checkbox', name='contact_day', value='평일')
            span 평일
          label
            input(type='checkbox', name='contact_day', value='주말')
            span 주말
        label
          span.label 7) 통화 희망 시간 (예: 오전 시간 가능)
          input(type='text', name='contact_time')


        span.label 8) 헤이뷰티에 가장 바라는 점
        div
          label
            input(type='radio', name='want', value='신규_고객_방문')
            span 신규 고객 방문
          label
            input(type='radio', name='want', value='매장홍보')
            span 매장홍보
          label
            input(type='radio', name='want', value='예약의_편리성_증대')
            span 예약의 편리성 증대(노쇼 감소, 취소 감소 등)
          label
            input(type='radio', name='want', value='예약_방식_모바일_이동')
            span 예약 방식을 모바일, 웹 사이트로 이동
          label
            input(type='radio', name='want', value='타_매체_입점')
            span 영향력 있는 타 매체의 입점(쇼핑몰, 검색 사이트)

        div.center
          button(type='button') 보내기

    script(src='/js/register.js', inline)